# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  'atom-workspace': [{label:'Run file mode', command:'file-mode:load'}]

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'File Mode'
      'submenu': [
        { 'label': 'Load', 'command': 'file-mode:load' }
      ]
    ]
  }
]
