# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  '.overlayer':
      'Run file mode': 'file-mode:load'

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'file-mode'
      'submenu': [
        { 'label': 'Load', 'command': 'file-mode:load' }
      ]
    ]
  }
]
